# Importing sqlite3 and pandas module

In [14]:
import sqlite3

In [15]:
import pandas as pd

In [16]:
connection=sqlite3.connect('books.db')

# Viewing authors table of contents

In [28]:
import pandas as pd

In [29]:
sqlite3

In [30]:
pd.options.display.max_columns=10

In [31]:
pd.read_sql('SELECT * FROM authors', connection, index_col=['id'])

DatabaseError: Execution failed on sql 'SELECT * FROM authors': no such table: authors